.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

venv/
env/
.venv/
environment/

*.py[cod]
*.so
*.egg-info/
build/
dist/

*.sav
*.log